# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://root:password@localhost:5432/aideekopedia?schema=public"
NUXT_LOGTO_ENDPOINT=https://d75ihn.logto.app/
NUXT_LOGTO_APP_ID=n4yw8p5kn5hlbbs68r2fc
NUXT_LOGTO_APP_SECRET=3Ce80NGQoBfqXBv1diTIRRmTY1LcOZhd
NUXT_LOGTO_COOKIE_ENCRYPTION_KEY=ufMfMgdpTQ0u0ZCQBiKob18YjfuF4cFW
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyBKA4tUNtTS0-F_PCSeXUCydjoghncfZSg